@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
* {
    font-family: 'Ubuntu', sans-serif;
}

body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #1e1e1e;
    color: #ffffff;
}

.searchbar {
    width: 80%;
    margin: auto;
    height: 7.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="text"] {
    background-color: #888888;
    width: 50rem;
    height: 3rem;
    font-size: 3rem;
    border: 0;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    color: #ffffff;
    padding: 0.5rem;
}

.searchbutton {
    background-color: #4545a1;
    padding: 0.5rem;
    width: 7.5rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    cursor: pointer;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
}

.usernames_container {
    background-color: #4545a1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 15%;
}

.username_badge {
    font-size: 1rem;
    padding: 1rem;
    margin: 0.5rem;
}

.domains_container {
    margin-top: 3rem;
    background-color: #4545a1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 15%;
}

.domain_badge {
    font-size: 1rem;
    padding: 1rem;
    margin: 0.5rem;
}

.domain_badge_availible {
    color: #45a145;
}

.domain_badge_in_use {
    color: #a14545;
}